@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap');

.str1 {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 667px;
    background-color: #2E334A;
}
.main{
    width: 350px;
    height: 500px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color:#424E75;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}

.signup {
    
    background: #eee;
    border-radius: 10px;
    padding: 20px;
    height: 400px;
    width: 400px; /* Adjust the width as needed */
    max-width: 80%; /* Maximum width for better responsiveness */    
    
}

.signupFrom{

    

}

.label label {
    color: #2E334A;
    font-size: 1.9em; /* Adjust the font size as needed */
    font-weight: bold;
    padding-bottom: 30px; /* Adjust the spacing between elements */
    display: flex;
    padding-top: 60px;
    font-family: "Rubik Mono One", monospace;
    
}

.label{
    display: flex;
    justify-content: center;

}

.input {
    width: 93%;
     /* Adjust the height as needed */
    background: #e0dede;
    margin-bottom: 20px; /* Adjust the spacing between elements */
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: "Forum", serif;
    
}

.but {
    width: 100%;
    height: 40px; /* Adjust the height as needed */
    color: #fff;
    background: #2E334A;
    font-size: 1em; /* Adjust the font size as needed */
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Rubik Mono One", monospace;
   
}

.but:hover {
    background: #424E75;
}
.text{
    display: flex;
    float: right;
    align-items: center; 
}
.text p{
    font-family: "Forum", serif;
}
.link{
    text-decoration: none;
    font-family: "Rubik Mono One", monospace;
    color: #2E334A;
}